{% extends "base.html" %}

{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-sm-2">
                <h1>{{investor.name}}</h1>
                <div id="summary"></div>
                <hr/>
                <h2>Investments</h2>
                {% for company in investor.get_companies %}
                <p><a href="{% url 'database_interface:detail_company' company.name%}">{{company.name}}</a></p>
                {% endfor%}
            </div>
        </div>
    </div>
{%endblock content%}


