{% extends "base.html" %}

{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-sm-2">
                <h1>{{company.name}}</h1>
                <div id="summary"></div>
                <p><a href="{{company.website}}" target="_blank">{{company.website}}</a></p>
                <p>{{company.description}}</p>
                <h2>Data</h2>
                <p>Year Founded: {{company.year_founded}}</p>
                <p>Team Size: {{company.team_size}}</p>
                <p>Location: {{company.location}}</p>
                <p>Investors: {{company.get_investors_as_str}}</p>
                <p>Tags: {{company.get_tags_as_str}}</p>
            </div>
        </div>
    </div>
{%endblock content%}
