{% extends "base.html" %}
{%block content%}
    <div class="row">
        <div class="col-lg-10 container-fluid">
            <div class="jumbotron mt-4">
                <h1 class="display-1 text-center">Find the best startups</h1>
                <hr class="m-4">
                <p class="lead d-flex justify-content-center">
                    <a class="btn btn-primary btn-lg" href="{% url 'users:register'%}" role="button">Right Here </a>
                </p>
            </div>
        </div>
    </div>
{%endblock content%}